{% extends 'base.html.twig' %}

{% block title %}Wellcome{% endblock %}

{% block body %}
    <div class="flex justify-center mt-[40vh]">
        <div class="max-w-fit rounded-full border-2 border-gray-50 p-10">
            <h1 class="text-6xl font-bold after:content-['.'] after:text-red-700 after:animate-pulse">Wellcome <span class="text-cyan-900">Here</span></h1>
        </div>
    </div>
{% endblock %}
